.gutters {
  padding: 4px 12px 4px 3px !important;
  gap: 8px;
}

.gutters :first-child:not(h6) {
  margin-left: 4px;
}

.gutters :first-child:not(:not(h6)) {
  margin-left: 16px;
}

.title {
  flex: 1;
  margin-left: 16px;
}
